&kscan0 {
    col-gpios
        = <&pro_micro 16 GPIO_ACTIVE_HIGH>  // Column 0 - TAB, CTRL, SHIFT (was pin 21)
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>  // Column 1 - Q, A, Z (was pin 20)
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>  // Column 2 - W, S, X
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>  // Column 3 - E, D, C
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>  // Column 4 - R, F, V
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>  // Column 5 - T, G, B
        ;
};